node_modules/
src/
dist/
.github/


.rpt2_cache

*.log

npm-debug.log*

# gomi file in mac
.DS_Store

# dotenv environment variables file
.env

.eslintrc

.babelrc

.gitignore

.npmignore

rollup.config.js

renovate.json

tsconfig.json
tsconfig-build.json